body {
	height:100%;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

	}
a {
	text-decoration: none;
	color:black;
}

.content {
	width:100%;
	height:1000px;
	position:relative;
}

.header {
	width:100%;
	height:200px;
	background-color: white;
	border-bottom: 1px solid black;
	position:fixed;
	top:0;
}
.nav-bar {
	width:900px;
	height: 300px;
	position: fixed;
	margin-top:150px;
	background-color: transparent;
}
.button {
	display:inline-block;
	width:179px;
	height:50px;
	border: 0.5px solid black;
	text-align: center;
	background-color: white;
	text-transform: uppercase;
	line-height: 50px;
	font-size:13px;
	background-color: white;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
.button:hover {
	background-color:rgba(255,205,1,0.5);
}

.dropdown-menu {
	width:200px;
	height:150px;
	position: fixed;
	top:50px;
	text-align: left;
	background-color: rgba(255,205,1);
	display:none;
}
#about {
	margin-left:200px;
}
#outreach {
	margin-left:380px;
}
.menu-item {
	margin-top:5px;
	height:30px;
}

#top {
	margin-top:23px;
}

.home-content {
	margin-top:200px;
	height:1000px;
	background-color: white;
}
.banner-logo {

}
.banner-logo img {
	width:100%;
	height:auto;
}




::-webkit-scrollbar {
  width: 7px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgb(55,55,55);
  border-radius: 0px;
}

@media (max-width: 900px) { 
	.nav-bar {
		width:400px;
		right:0;
		margin-top:50px;
	}
	.button {
		height:45px;
		float:right;
	}
}

@media (min-width: 900px) { 
    .nav-bar {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
 }
}