body {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size: 30px;
}

.image-banner {
	width:900px;
	margin:0 auto;
	margin-top:200px;
}
.image-banner img {
	width:100%;
	height:auto;
}

.home-content {
	width: 900px;
	margin:0 auto;
	margin-top:10px;
	position:relative;
	z-index:-10;

}
.image-gallery {
	width:800px;
	margin-left:25px;

}
.img {
	width:100%;
	height:auto;
	position: absolute;
	
}
.text {
	width:500px;
	position: absolute;
	top:20px;
	z-index: 100;
		
}
span {
	background-color: rgba(203,2,49,0.7);
}
.image-gallery img {
	width:100%;

}
.slide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


